{% extends 'info/base.html' %}
    {% load static %}

    {% block content %}
                  <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
            <b>Marks</b></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Course name</th>
                        <th>Internals 1</th>
                        <th>Internals 2</th>
                        <th>Internals 3</th>
                        <th>Event 1</th>
                        <th>Event 2</th>
                        <th>SEE</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sc in sc_list %}
                    <tr>
                        <td>{{ sc.course_id }}</td>
                        <td>{{ sc.course_name }}</td>
                        <td>{{ sc.internals_1 }}</td>
                        <td>{{ sc.internals_2 }}</td>
                        <td>{{ sc.internals_3 }}</td>
                        <td>{{ sc.event_1 }}</td>
                        <td>{{ sc.event_2 }}</td>
                        <td>{{ sc.see }}</td>
                    </tr>
                    {% empty %}
                        <tr><td colspan="8">No courses assigned.</td></tr>
                    {% endfor %}
                  </tbody>
                  <!-- <tbody>
                    {% for sc in sc_list %}
                    <tr>
                        <td>{{ sc.course_id }}</td>
                        <td>{{ sc.course.name }}</td>
                        {% with sc.marks_set.all.first as m %}
                            <td>{{ m.marks1|default:"-" }}</td>
                            <td>{{ m.marks2|default:"-" }}</td>
                            <td>{{ m.marks3|default:"-" }}</td>
                            <td>{{ m.event1|default:"-" }}</td>
                            <td>{{ m.event2|default:"-" }}</td>
                            <td>{{ m.see|default:"-" }}</td>
                        {% endwith %}
                    </tr>
                    {% empty %}
                    <p>student has no courses</p>
                    {% endfor %}

                  </tbody> -->
                </table>
              </div>
            </div>
          </div>


    {% endblock %}